@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html {
    margin: 0px;
    scroll-behavior: smooth;
    background-color: black;
    color: white;
    background-image: url("img/fondofinal.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    position: center
}

span:hover { background-color: rgba(68, 0, 255, 0.733); color: white;}

body {
    margin: 0px; 
    scroll-behavior: smooth;
    background-image: url("img/fondofinal.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    position: center
}

#Contenedor-principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
    grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "banner banner banner banner";
}

#header {
    grid-area: header;
    text-align: center;
    font-size: 120% ;
    color: white;
    margin-top: 15px;
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    margin-right: 10%;
    margin-left: 10%;
} 

#main {
    grid-area: main;
    scroll-behavior: smooth;
    background-image: url("img/fondofinal.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    width: 1000px;
    text-align: center;
    margin-left: 40%
}

.texto { font-family: 'Roboto Condensed', sans-serif ; color: white;}

#un_formulario {color: white; 
        font-family: 'Roboto Condensed', sans-serif; text-align: center; width: 800px;    margin-left: 20%; color: yellow;
}

.boton {color: white; margin-left: 45% ; margin-right: 15%;
    font-family: 'Roboto Condensed', sans-serif; 
    background-color: rgba(68, 0, 255, 0.377);
    font-size: medium;   
    text-align: center;
}

#seleccion {color: black; margin-right: 40%;}

#banner {
    background-color: rgba(68, 0, 255, 0.377);
    grid-area: banner;
    max-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 3%;
    font-family: 'Roboto Condensed', sans-serif;   
}

#logo { 
    margin-top: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 800px; 
    background-image: url("img/logoblanco.png");
    background-position: center;
}

.error {
    border: 2px red solid;}  
  #mensaje_error{
    padding: 10px;
    border: 2px red solid;
  }
  


span a {text-decoration: none; color:white;}

@media screen and (max-width: 760px) {
    #contenedor-ppal {
            grid-template-columns: repeat(2, 0.5fr);
            grid-template-rows: 4em repeat(2,3fr) repeat(2,2fr);
            grid-template-areas: 
            "header header"
            "main main "
            "main main"
            "banner banner"
            ;
}
    #logo {width: 100% ; align-items: center}
    #header {max-width: 100%; width: 500px; text-align: center; margin-left:0%; font-size: x-small;};
    #hero {max-height: 100%; margin: 0px; margin-right: 0%;     background-size: cover;}  
}
  
  
@media screen and (min-width: 761px) and (max-width: 1023px) {
    #contenedor-ppal{
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 4em repeat(2,3fr) repeat(2,2fr);
      grid-template-areas: 
      "header header header header"
      "main main main main"
      "banner banner banner banner"
      ;
}}
